 .HeaderColor{
    color:green
  }
  input{
    border:2px solid green;
  }
  button{
    background-color: green;
    color: white;
    padding: 10px;
    width: 20vh;
    border-radius: 10px;
  }
  .card{
    background-color: #00800026;
    padding: 10px;
  }
  